body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f2f2f2;
}

.container {
  background-color: #fff;
  padding: 30px;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align items to the start of the cross axis */
  margin: auto; /* Automatically center horizontally */
  height: 100vh;
}

header {
  text-align: center;
  margin-bottom: 20px;
}

h1 {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  margin: 0;
}

h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

h3 {
  color: #666666;
}

p {
  font-size: 16px;
  color: #666;
  margin-bottom: 15px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input {
  display: block;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
}

button {
  width: 416px;
  height: 52px;
  top: 597px;
  left: 512px;
  border-radius: 10px;
  background-color:#0075FF;
  color: white;
  /* background-color: #4caf50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px; */
}

.error-message {
  color: red;
  font-size: small;
}
